<div class="container col-md-10">
    <a class="btn btn-outline-dark" [routerLink]="['/']" routerLinkActive="router-link-active" > Back to Calculation</a><div class="mt-1"></div>
    <table class="table">
        <thead style="text-align:center" class="thead-dark">
          <tr>
            <th scope="col">Rental No</th>
            <th scope="col">Date</th>
            <th scope="col">Monthly Install</th>
            <th scope="col">Amount paid</th>
            <th scope="col">Amount to be paid</th>
          </tr>
        </thead>
        <tbody style="text-align:center">
          <tr *ngFor="let detail of detailList" [@fadeInOut]>
              <td>{{detail.rental_no}}</td>
              <td>{{detail.date | date | uppercase}}</td>
              <td>{{detail.monthly}}</td>
              <td>{{detail.amount_paid}}</td>
              <td>{{detail.amount_to_be_paid}}</td>
          </tr>
        </tbody>
      </table>
</div>
  
  